:root {
  --primarybg: rgb(114, 113, 114);
  --secondarybg: rgb(25, 109, 116);
  --dark: rgb(7, 0, 0);
  --color: rgb(253, 253, 255);
  --shadow: 0 1px 5px rgba(211, 14, 14, 0.9);
  --alarm: rgb(248, 6, 6);
  --font-family: "Roboto", sans-serif;
  --border: solid 5px rgb(99, 138, 145);
}
* {
  padding: 0;
  margin: 0;
}
body {
  background: url("../images/spacebg.jpeg");
  font-family: var(--font-family);
  background-repeat: none;
  background-size: cover;
  min-height: 100%;
  min-width: 100%;
 
}

.header {
  align-content: center;
  margin: 0;
  color: var(--primarybg);
  text-align: center;
  text-shadow: var(--shadow);
  /* background-color: var(--secondarybg); */
  padding: 5px;
}
.clock{
  align-content: center;
  text-align: center;
  /* background: var(--secondarybg); */
  color: var(--color);
  font-size: 30px;
}
#timeLeft {
  align-content: center;
  text-align: center;
  margin: 20px 500px;
  /* background: var(--secondarybg); */
  color: var(--color);
  font-size: 30px;
  border-radius: 20px;
}
#timeleft:hover {
  background: var(--alarm);
}


.button {
  border: var(--border);
  height: 100%;
}
#quizContainer {
  height: 300px;
  width: 1000px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  /* background: var(--dark);
  border: var(--border);
  box-shadow: var(--shadow); */
}
.question {
  padding: 20px;
  font-size: 36px;
  margin: 10px 0.1em;
  color: var(--color);
  border-radius: 20px;
  background-color: var(--secondarybg);
  opacity: 0.6;
}
.option {
  width: 470px;
  display: inline-block;
  padding: 10px 0 10px 15px;
  margin: 0.1em;
  vertical-align: middle;
  background: var(--secondarybg);
  opacity: 0.7;
  margin-top: 10px 0 10px 10px;
  color: var(--color);
  border-radius: 20px;
  border: solid 1px #333;
}
.option:hover {
  background: var(--primarybg);
  color: var(--dark);
}
.next-btn {
  border: none;
  outline: none;
  background: var(--primarybg);
  width: 100px;
  height: 35px;
  border-radius: 20px;
  border: solid 1px #333;
  cursor: pointer;
  float: right;
  margin: 10px;
}
.next-btn:hover {
  background: var(--primarybg);
  color: var(--alarm);
}
.result {
  height: 100px;
  text-align: center;
  font-size: 75px;
}
.option input:checked .option {
  background: var(--primarybg);
}
.footer {
    position: absolute;
    align-content: center;
    text-align: center;
    margin: 0;
    bottom: 0;
    width: 100%;
    height: 60px; /* Height of the footer */
    background: rgb(92, 123, 139);
    opacity: 0.6;
  }